# App environment
NODE_ENV=production

# Public frontend config
NEXT_PUBLIC_API_URL=/api

# API
API_PORT=3100

# PostgreSQL
DATABASE_HOST=localhost
# we set this so it doesn't collide with local postgres (if any)
DATABASE_PORT=5435
DATABASE_USER=postgres
DATABASE_PASSWORD=1234
DATABASE_NAME=project-wombat-db

# Redis
REDIS_HOST=localhost
# we set this so it doesn't collide with local redis (if any)
REDIS_PORT=6380
REDIS_USERNAME=
REDIS_PASSWORD=1234
REDIS_DB=0
REDIS_KEY_PREFIX=wombat:
BULLMQ_PREFIX=wombat:bull

# Nginx
# we set this so it doesn't collide with local nginx (if any)
NGINX_PORT=88

# Container names
WEB_CONTAINER_NAME=wombat_web
API_CONTAINER_NAME=wombat_api
POSTGRES_CONTAINER_NAME=wombat_postgres
REDIS_CONTAINER_NAME=wombat_redis
NGINX_CONTAINER_NAME=wombat_nginx
